<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--也可讓程式讀這個-->
    <add key="ConnectionString" value="Data Source=192.168.8.16;Initial Catalog=CPSscan;User ID=barcode;pwd=chenbroshbarcode;"/>
    <!--升級服務器配置-->
    <add key="ServerIP" value="172.22.81.25"/>
    <add key="ServerPort" value="4540"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--以下兩句是做試驗用的-->
    <add key="UserName" value="admin"/>
    <add key="Password" value="chenbrotx"/>

    <!--系統用戶菜單控制-->
    <add key="Sys_Usr_Menu" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.8.16;Initial Catalog=CPSscan;User ID=barcode;pwd=chenbroshbarcode;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
