<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--也可讓程式讀這個-->
    <add key="ConnectionString" value="Data Source=172.22.96.15;Initial Catalog=CPSscan;User ID=sa;pwd=chenbro;" />

    <!--以下兩句是做試驗用的-->
    <add key="UserName" value="admin" />
    <add key="Password" value="chenbrotx" />

    <!--系統用戶菜單控制-->
    <add key="Sys_Usr_Menu" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.22.96.15;Initial Catalog=CPSscan;User ID=sa;pwd=chenbro;" />
  </connectionStrings>
</configuration>